/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('ressources/images/logo.png'); /* Chemin vers votre logo */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.9; /* Ajustez l'opacité pour la transparence */
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 2em 0;
}

main {
    padding: 2em 0;
}

section {
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
}

.d-none {
    display: none;
}